<template>
	<div>
		<Loading v-if="loading" />
		<template v-else-if="loaded">
			<h4 class="font-weight-bold">
				<router-link to="/">Users</router-link> > {{ user.name }}
			</h4>
			<hr class="mb-5">
			<section class="row mb-4">
				<div class="col-12 col-lg-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Contact Info</h5>
							<p class="card-text">Username: {{ user.username }}</p>
							<p class="card-text">Email: <a :href="`mailto:${user.email}`">{{ user.email }}</a></p>
							<p class="card-text">Phone: <a :href="`tel:${user.phone}`">{{ user.phone }}</a></p>
							<p class="card-text">Website: <a :href="`http://${user.website}`" target="_blank">{{ user.website }}</a></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Address</h5>
							<p class="card-text">{{ user.fullAddress }}</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Company</h5>
							<p class="card-text">{{ user.company.name }}</p>
							<p class="card-text">{{ user.company.bs }}</p>
							<p class="card-text"><i>"{{ user.company.catchPhrase }}"</i></p>
						</div>
					</div>
				</div>
			</section>
			<section class="users-posts">
				<h4 class="mb-4 font-weight-bold">Posts by {{ user.name }}</h4>
				<div class="row">
					<UserPost
						v-for="post in posts"
						:key="post.id"
						:post="post"
					/>
				</div>
			</section>
		</template>
		<Alert
			v-else
			text="Failed to load user or user's posts"
		/>
	</div>
</template>

<script>
import axios from '@/services/axios';
import User from '@/models/User';
import Post from '@/models/Post';
import UserPost from '@/components/Post';
import Loading from '@/components/Loading';
import Alert from '@/components/Alert';

export default {
	components: { UserPost, Loading, Alert },
	data() {
		return {
			user: null,
			posts: [],
			loading: true,
			loaded: false, // True when all information loaded correctly
		};
	},
	created() {
		/** @todo As an alternative, we could save fetched users in store,
		 * and then just get it by ID instead of fetching same information again
		 */
		const userPromise = axios.get(`/users/${this.userId}`);
		const postsPromise = axios.get(`/posts?userId=${this.userId}`);
		
		// Load user and posts by ID together
		Promise.all([userPromise, postsPromise]).then((resp) => {
			// Create new User model
			this.user = new User(resp[0].data);
			
			resp[1].data.forEach((post) => {
				// Add new Post models to the array
				this.posts.push(new Post(post));
			});
			this.loaded = true;
		}).catch((err) => {
			dump(err);
		}).finally(() => {
			this.loading = false;
		});
	},
	computed: {
		userId() {
			return parseInt(this.$route.params.id);
		},
	},
};
</script>

