<template>
	<div>
		<div class="row justify-content-between align-items-center">
			<div class="col-12 col-lg-6">
				<h4 class="font-weight-bold">Users</h4>
			</div>
			<div class="col-12 col-lg-3">
				<div class="form-group mb-lg-0">
					<label for="search-bar">Search</label>
					<input
						v-model="search"
						type="text"
						class="form-control"
						id="search-bar"
					/>
				</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="form-group mb-lg-0">
					<label for="sort-by">Sort By</label>
					<select
						v-model="sort"
						class="form-control"
						id="sort-by"
					>
						<option
							v-for="option in sortOptions"
							:key="option.value"
							:value="option.value"
						>
							{{ option.text }}
						</option>
					</select>
				</div>
			</div>
		</div>
		<hr class="mb-5">
		<Loading v-if="loading" />
		<UserCard
			v-else-if="loaded"
			v-for="(user, i) in users"
			:key="user.id"
			:user="user"
			:index="i"
		/>
		<Alert
			v-else
			text="Failed to load users"
		/>
	</div>
</template>

<script>
import Loading from '@/components/Loading';
import Alert from '@/components/Alert';
import UserCard from '@/components/UserCard';
import User from '@/models/User';
import axios from '@/services/axios';

export default {
	components: { UserCard, Loading, Alert },
	data() {
		return {
			sort: 'name_asc',
			sortOptions: [
				{
					value: 'name_asc',
					text: 'Name (ASC)',
				},
				{
					value: 'name_desc',
					text: 'Name (DESC)',
				},
				{
					value: 'username_asc',
					text: 'Username (ASC)',
				},
				{
					value: 'username_desc',
					text: 'Username (DESC)',
				},
				{
					value: 'email_asc',
					text: 'Email (ASC)',
				},
				{
					value: 'email_desc',
					text: 'Email (DESC)',
				},
			],
			search: '',
			allUsers: [],
			users: [],
			loading: true,
			loaded: false, // True when all information loaded correctly
		};
	},
	created() {
		// Fetch users
		axios.get('/users').then((resp) => {
			const users = [];
			resp.data.forEach((userData) => {
				// Add new User model to the array
				users.push(new User(userData));
			});
			// Default sort by name
			users.sort((a, b) => a.name > b.name ? 1 : -1);
			this.allUsers = users;
			this.users = users;
			this.loaded = true;
		}).catch((err) => {
			dump(err);
		}).finally(() => {
			this.loading = false;
		});
	},
	watch: {
		sort(val) {
			// Split string to get property name and sort type
			val = val.split('_');
			const prop = val[0];
			const type = val[1];
			this.users.sort((a, b) => {
				const result = a[prop] > b[prop] ? 1 : -1;
				return (type === 'asc' ? result : result * -1);
			});
		},
		search(val) {
			val = val.toLowerCase();
			this.users = this.allUsers.filter((user) => {
				const name = user.name.toLowerCase();
				const username = user.username.toLowerCase();
				const email = user.email.toLowerCase();
				
				return (name.indexOf(val) > -1 || username.indexOf(val) > -1 || email.indexOf(val) > -1);
			});
		},
	},
};
</script>

<style lang="scss" scoped>
label {
	margin-bottom: 0;
}
</style>
