<template>
	<div class="col-12 col-lg-4 mb-4">
		<div class="card user-post">
			<div class="card-body">
				<h5 class="card-title text-capitalize">{{ post.title }}</h5>
				<p class="card-text">{{ post.body }}</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		post: { type: Object, required: true },
	},
}
</script>

<style lang="scss">
.user-post {
	height: 100%;
}
</style>