<template>
	<router-link
		:to="user.url"
		:class="{ 'bg-light': !isEven }"
		class="card mb-3"
	>
		<div class="card-body">
			<img src="@/assets/avatar.png" class="avatar" :alt="user.imageAltText" width="70" height="70" />
			<div>
				<div>
					<h5 class="card-title mb-0">{{ user.name }}</h5>
					<p class="card-text">{{ user.username }}</p>
				</div>
				<a :href="`mailto:${user.email}`" class="text-break">{{ user.email }}</a>
			</div>
		</div>
	</router-link>
</template>

<script>
export default {
	props: {
		user: { type: Object, required: true },
		index: { type: Number, required: true },
	},
	computed: {
		isEven() {
			return (this.index + 1) % 2 === 0;
		},
	},
}
</script>

<style lang="scss" scoped>
.card {
	transition: background-color 0.3s;
	color: #000;
	&:hover {
		color: #000;
		text-decoration: none;
		background-color: lightgrey;
	}
	.card-body {
		display: flex;
		align-items: center;
		@media screen and (max-width: 991px) {
			padding: 1rem;
		}
		h5,
		p,
		a {
			@media screen and (max-width: 991px) {
				font-size: 95%;
			}
		}
		.avatar {
			padding: 1rem;
			margin-right: 1.5rem;
			border: 1px solid grey;
			border-radius: 50%;
			@media screen and (max-width: 991px) {
				width: 40px;
				height: 40px;
				padding: 0.2rem;
			}
		}
		> div {
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: 991px) {
				display: block;
			}
		}
	}
}
</style>